.container {
  display: flex;
  padding: 30px;
}

.product-detail {
  width: 60%;
  text-align: center;
}

.product-detail__about {
  height: 80%;
}

.product-detail__about h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.product-detail__about h3 {
  font-size: 1rem;
  margin-bottom: 30px;
}

.product-detail__about p {
  font-size: 1rem;
}

.products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-list__product {
  width: 400px;
  background-color: gainsboro;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.products-list__product h2 {
  font-size: 1rem;
  padding: 12px;
}

.btn-large {
  padding: 15px;
}

.btn-small {
  padding: 5px 10px;
  margin-right: 5px;
}

.btn-current {
  background-color: aqua;
}

.not-interested {
  cursor: not-allowed;
}
