.container {
	display: flex;
	justify-content: center;
}

.product {
	margin: 10px;
	background-color: gainsboro;
	padding: 10px;
	border-radius: 10px;
	line-height: 1.5rem;
}
.random {
	margin: 10px;
	height: 30px;
}

.title {
	font-size: 1.2em;
}
.brand {
	font-size: 1em;
}
.price {
	font-size: 0.8em;
}
